form.signup,
form.login {
  margin-top: 50px;
}

.head {
  background-color: black;
  color: white;
}

.firstrow {
  width: 100%;
}

.text {
  color: rgb(230, 227, 227);
}

.text2 {
  color: rgb(189, 182, 182);
}

.colorY {
  background-color: rgb(255, 240, 34);
}

.colorG {
  background-color: rgb(104, 255, 34);
}

.footer {
  background-color: teal;
}

/* Popup form styles */
.container  {
  height: 100%;
width: 100%;
background-color: #000;
}

.container-box {
display: inline-block; 
padding: 10px; 
background: rgba(255, 255, 255, .8);
border: 1px solid #fff;	
position: fixed;
bottom: 0;
right: 0;
transform-origin: bottom right;
}

.modal-content {
background: rgba(255, 255, 255);	
}
