body#members-page {
  background-color: rgb(230, 229, 218);
  font-family: "Roboto", sans-serif;
}

.container.containerMembers.container-fluid {
  margin: 0;
  padding: 0;
  max-width: unset;
  background-image: url("/img/2.jpg");
  background-size: cover;
}

body {
  width: 100%;
  /* font-family: "Roboto", sans-serif; */
}

.head1 {
  background-color: black;
  color: white;
}

h1.text {
  font-family: "Libre Baskerville", serif;
  line-height: 0.75em;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

span.h1-small {
  font-size: 0.5em;
  letter-spacing: 0.75em;
}

h1.text a {
  color: #fff;
  text-decoration: none;
}

.text {
  color: rgb(230, 227, 227);
}

p.text2 {
  /* color: rgb(189, 182, 182); */
  color: rgb(250, 233, 135);
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

p.text3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  text-align: left;
  padding-left: 0.8em;
  padding-top: 0.5em;
  line-height: 2em;
}

p.text3 {
  color: rgb(250, 233, 135);
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
}

.row.scroll {
  margin: 0 !important;
  flex-direction: column;
}

.student-dash-cont {
  background-color: #000;
  color: #fff;
  padding: 1em;
}

h2.student-dash-head {
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  padding: 0.5em;
  padding-left: 1em;
}


a.navbar-brand {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding-left: 1.8em;
}

a.navbar-brand:hover {
  color: rgb(28, 2, 255);
  text-decoration: underline;
}

.course-head {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 1em 0 0;
  margin: 0 0 2em;
  background-color: lemonchiffon;
}

.course-head h3 {
  font-size: 2rem;
}

p.unfinished {
  font-size: 1.2em;
}

.create-update-form {
  padding-left: 1em;
}

div.progress.progressbar {
  margin-bottom: 3em;
  background-color: rgb(151, 235, 247);
}

.row.rowOne1 {
  background-image: url("/img/2.jpg");
  background-size: cover;
}

.row.rowTwo {
  background-color: rgb(253, 205, 115);
  color:black;
}

.row.rowThree {
  background-color: rgb(68, 121, 218);
}

.col-sm-3.credentials {
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  margin-top: -1em;
  margin-bottom: -1.5em;
  text-align: left;
  padding: 2rem;
}

