body#members-page {
  background-color: rgb(255, 240, 34);
  font-family: "Roboto", sans-serif;
}

.container.containerMembers.container-fluid {
  margin: 0;
  padding: 0;
  max-width: unset;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.head1 {
  background-color: black;
  color: white;
}

h1.text {
  font-family: "Libre Baskerville", serif;
  line-height: 0.75em;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

span.h1-small {
  font-size: 0.5em;
  letter-spacing: 0.75em;
}

h1.text a {
  color: #fff;
  text-decoration: none;
}

.text {
  color: rgb(230, 227, 227);
}

p.text2 {
  /* color: rgb(189, 182, 182); */
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

.row.scroll {
  margin: 0 !important;
  flex-direction: column;
}

h2.welcome {
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
}

.student-dash-cont {
  background-color: #000;
  color: #fff;
  padding: 1em;
}

h2.student-dash-head {
  font-size: 3rem;
}

a.navbar-brand {
  color: #fff;
}

a.navbar-brand:hover {
  color: #fff;
  text-decoration: underline;
}

.course-head {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 1em 0 0;
  margin: 0 0 2em;
  background-color: lemonchiffon;
}

.course-head h3 {
  font-size: 2rem;
}

ol#unfinishedTopics li {
  margin-bottom: 0.25em;
}

.create-update-form {
  padding-left: 1em;
}

.progress {
  margin-bottom: 3em;
}
